body{
    background-image: linear-gradient(50deg, #180538 15%, #24021c 85%);
      margin: 0 auto;
      width: 80%;
      max-width: 1800px;
      font: .9em/1.2 Arial, Helvetica, sans-serif
  }
a {
    outline: none;
    text-decoration: none;
    display: inline-block;
    color: rgb(255, 255, 255);
}
a:hover{
    background-image: linear-gradient(45deg, #6a89cc 15%, #b71540 85%);
  }
a:active{
  background-image: linear-gradient(45deg, #b71540 15%, #6a89cc 85%);
  }
 a:link, a:visited, a:focus {
    background: (1, 26, 51);
  }
.comp{
    padding-left: 35%;
    padding-right: 35%;
    padding-top: 8%;
    padding-bottom: 8%;
  }
.pres{
    padding-left: 35.5%;
    padding-right: 35.5%;
    padding-top: 11%;
    padding-bottom: 11%;
  }
  .expro{
    padding-left: 21%;
    padding-right: 21%;
    padding-top: 7.7%;
    padding-bottom: 7.7%;
  }
.proj{
    padding-left: 37.7%;
    padding-right: 37.7%;
    padding-top: 11%;
    padding-bottom: 11%;
  }
.cv{
    padding-left: 44%;
    padding-right: 44%;
    padding-top: 20%;
    padding-bottom: 20%;
}
th,table{
        text-align: center;
        height: 5%;
        background-color: rgb(1, 26, 51);
        color: white;
        border: rgb(255, 255, 255) 3px ridge;
        border-collapse: collapse;
    }

 th{
        width: 22%;
    }

table{
        width: 100%;
    }
ul{
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
        font-size: 20px;
        line-height: 2;
        letter-spacing: 2px;
        text-align: justify;
        color: white;
    }
    li{
        display: inline
    }
    h2{
        font-size: 35px;
        border-top: 3px rgb(109, 13, 109) solid ;
        font-weight: 800;
        text-decoration: underline;
    }
    p{
        font-size: 25px;
        text-align: center;
    }